.game-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.2fr 1fr 0.1fr;
    grid-template-areas: 
        ". display display display ."
        "player1 game-table game-table game-table player2"
        ". . draw . playFullGame";
    margin: auto;
    padding-top: 3vh;
    height: 90vh;
    width: 90vw;
    max-height: 650px;
    max-width: 1200px;
    row-gap: 5%;
    column-gap: 3%;
    font-family: Georgia;
}

.game-table {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:         
        ". p1Card . p2Card ."
        "p1Deck . cardPot . p2Deck";
    row-gap: 20px;
    column-gap: 20px;
    grid-area: game-table;
    background-color: rgb(130, 189, 134);
    padding: 20px;
    border-radius: 10px;
}

.display {
    grid-area: display;
    border: 1px solid;
    text-align: center;
    font-size: 3rem;
}

.player1 {
    grid-area: player1;
    background-color: red;
}

.player2 {
    grid-area: player2;
    background-color: blue;
}

.p1Card {
    grid-area: p1Card;
}

.p2Card {
    grid-area: p2Card;
}

.p1Deck {
    grid-area: p1Deck;
}

.p2Deck {
    grid-area: p2Deck;
}

.cardPot {
    grid-area: cardPot;
}

.draw {
    grid-area: draw;
}

.playFullGame {
    grid-area: playFullGame;
}

.player1, .player2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.card-container {
    position: relative;
}

.card {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    --x-distance: 0;
    --y-distance: 0;
    animation: winning-card 1s;
}

.card-inner {
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 6%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    transform: rotateX(180deg);
}

img {
    width: 100%;
    height: 100%;
}

.face-up .card-inner {
    transform: rotateX(180deg);
    
}

.move {
    transform: translate(var(--x-distance), var(--y-distance));
}

@keyframes createBox {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }