:root {
    --button-color: rgb(188, 89, 213);
    --button-shadow: rgb(103, 28, 121);
    --win-effect-time: 0.5s;
    --war-effect-time: 0.333s;
}

body {
    background: linear-gradient(90deg, rgb(203, 203, 203) 0%, rgba(255,255,255,1) 50%, rgb(203, 203, 203) 100%);
}

.title {
    text-align: center;
    grid-area: title;
    margin-bottom: -40px;
    font-size: 1.2rem;
}

.game-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.07fr 0.03fr 1fr 0.1fr;
    grid-template-areas: 
        ". . title . ."
        ". display display display ."
        "player1 game-table game-table game-table player2"
        ". . draw . .";
    margin: auto;
    height: 83vh;
    width: 95vw;
    row-gap: 4%;
    column-gap: 3%;
    font-family: Georgia;
}

.display {
    text-align: center;
    grid-area: display;
    font-size: 1rem;
    margin-bottom: -10px;
}

.game-table {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:         
        "player1-score p1Card . p2Card player2-score"
        "p1Deck . cardPot . p2Deck";
    row-gap: 20px;
    column-gap: 20px;
    grid-area: game-table;
    background-color: rgb(130, 189, 134);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 2px rgba(8, 8, 8, 0.2);
}

.player1 {
    grid-area: player1;
}

.player2 {
    grid-area: player2;
}

input {
    display: block;
    text-align: center;
    margin: auto;
    height: 30px;
    border: 0px;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    box-shadow: inset 0 3px 10px 2px rgba(8, 8, 8, 0.2);
}

.player1 .score, .player2 .score {
    font-size: 4rem;
    font-family: Helvetica;
}

::placeholder {
    font-weight: normal;
    color: rgb(82, 82, 82);
    opacity: 1;
  }

.player1 input {
    background-color: rgb(255, 146, 146);
}

.player2 input {
    background-color: rgb(158, 210, 255);
}

.p1Card {
    grid-area: p1Card;
}

.p2Card {
    grid-area: p2Card;
}

.p1Deck {
    grid-area: p1Deck;
}

.p2Deck {
    grid-area: p2Deck;
}

.cardPot {
    grid-area: cardPot;
}

.draw {
    grid-area: draw;
    box-shadow: var(--button-shadow) 0 4px 7px;
    background-color: var(--button-color);
    border-radius: 10px;
    border: 0px;
}

.draw:active {
    transform: translateY(2px);
    box-shadow: var(--button-shadow) 0 2px 7px;
}

.draw:hover {
    background-color: rgb(204, 107, 228);
}

.draw:disabled {
    transform: translateY(0px);
    box-shadow: var(--button-shadow) 0 4px 7px;
    background-color: var(--button-color);
    color: black;
}

.playFullGame {
    grid-area: playFullGame;
}

.player1, .player2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.card-container {
    position: relative;
}

.card {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    --x-distance: 0;
    --y-distance: 0;
}

.card-inner {
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 5px 7px 2px rgba(8, 8, 8, 0.2);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    transform: rotateX(180deg);
}

img {
    width: 100%;
    height: 100%;
}

.create-deck {
    animation: fade-in 0.7s;
}

.face-up .card-inner {
    transform: rotateX(180deg);
    box-shadow: 0 -5px 7px 2px rgba(8, 8, 8, 0.2);
}

.move {
    transform: translate(var(--x-distance), var(--y-distance));
}

.winner-card {
    animation: pop-out-yellow var(--win-effect-time);
}

.player1-war-card {
    animation: glow-red var(--war-effect-time), slide-right var(--war-effect-time);
    animation-iteration-count: 3;
}

.player2-war-card {
    animation: glow-red var(--war-effect-time), slide-left var(--war-effect-time);
    animation-iteration-count: 3;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pop-out-yellow {
    0% {
        transform: scale(1);
        z-index: 100;
    }
    40% {
        transform: scale(1.1);
        z-index: 100;
        border-radius: 10px;
        box-shadow: 0 0px 20px 10px rgb(255, 245, 64);
    }
    100% {
        transform: scale(1);
        z-index: 100;
    }
}

@keyframes glow-red {
    0% {
        border-radius: 8px;
    }
    40% {
        border-radius: 8px;
        box-shadow: 0 0px 20px 10px rgb(238, 0, 0);
    }
    100% {
        border-radius: 8px;
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(0px);
    }
    40% {
        transform: translateX(15px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(0px);
    }
    40% {
        transform: translateX(-15px);
    }
    100% {
        transform: translateX(0px);
    }
}