:root {
    --button-color: rgb(188, 89, 213);
    --button-shadow: rgb(103, 28, 121);
    --win-effect-time: 1.2s;
    --war-effect-time: 0.4s;
}

body {
    background: linear-gradient(90deg, rgba(221,221,221,1) 0%, rgba(255,255,255,1) 50%, rgba(221,221,221,1) 100%);

}

.title {
    text-align: center;
    grid-area: title;
    margin-bottom: -15px;
    font-size: 1.2rem;
}

.game-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.05fr 1fr 0.1fr;
    grid-template-areas: 
        ". . title . ."
        "player1 game-table game-table game-table player2"
        ". . draw . playFullGame";
    margin: auto;
    height: 90vh;
    width: 90vw;
    max-height: 650px;
    max-width: 1200px;
    row-gap: 4%;
    column-gap: 3%;
    font-family: Georgia;
}

.game-table {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:         
        ". p1Card . p2Card ."
        "p1Deck . cardPot . p2Deck";
    row-gap: 20px;
    column-gap: 20px;
    grid-area: game-table;
    background-color: rgb(130, 189, 134);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 2px rgba(8, 8, 8, 0.2);
}

.display {
    grid-area: display;
    border: 1px solid;
    text-align: center;
    font-size: 3rem;
}

.player1 {
    grid-area: player1;
}

.player2 {
    grid-area: player2;
}

.p1Card {
    grid-area: p1Card;
}

.p2Card {
    grid-area: p2Card;
}

.p1Deck {
    grid-area: p1Deck;
}

.p2Deck {
    grid-area: p2Deck;
}

.cardPot {
    grid-area: cardPot;
}

.draw {
    grid-area: draw;
    box-shadow: var(--button-shadow) 0 4px 7px;
    background-color: var(--button-color);
    border-radius: 10px;
    border: 0px;
}

.draw:active {
    transform: translateY(2px);
    box-shadow: var(--button-shadow) 0 2px 7px;
}

.draw:hover {
    background-color: rgb(204, 107, 228);
}

.draw:disabled {
    transform: translateY(0px);
    box-shadow: var(--button-shadow) 0 4px 7px;
    background-color: var(--button-color);
    color: black;
}

.playFullGame {
    grid-area: playFullGame;
}

.player1, .player2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.card-container {
    position: relative;
}

.card {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    --x-distance: 0;
    --y-distance: 0;
    /*animation: start-game 0.5s;*/
}

.card-inner {
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 5px 7px 2px rgba(8, 8, 8, 0.2);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    transform: rotateX(180deg);
}

img {
    width: 100%;
    height: 100%;
}

.face-up .card-inner {
    transform: rotateX(180deg);
    box-shadow: 0 -5px 7px 2px rgba(8, 8, 8, 0.2);
}

.move {
    transform: translate(var(--x-distance), var(--y-distance));
}

.winner-card {
    animation: pop-out-yellow var(--win-effect-time);
}

.player1-war-card {
    animation: glow-red var(--war-effect-time), slide-right var(--war-effect-time);
    animation-iteration-count: 3;
}

.player2-war-card {
    animation: glow-red var(--war-effect-time), slide-left var(--war-effect-time);
    animation-iteration-count: 3;
}

@keyframes pop-out-yellow {
    0% {
        transform: scale(1);
        z-index: 100;
    }
    40% {
        transform: scale(1.4);
        z-index: 100;
        border-radius: 10px;
        box-shadow: 0 0px 20px 10px rgb(255, 245, 64);
    }
    100% {
        transform: scale(1);
        z-index: 100;
    }
}

@keyframes glow-red {
    0% {
        border-radius: 8px;
    }
    40% {
        border-radius: 8px;
        box-shadow: 0 0px 20px 10px rgb(238, 0, 0);
    }
    100% {
        border-radius: 8px;
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(0px);
    }
    40% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(0px);
    }
    40% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0px);
    }
}

/* @keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); box-shadow: 0 0px 20px 10px rgb(255, 64, 64);}
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); box-shadow: 0 0px 20px 10px rgb(255, 64, 64);}
    100% { transform: rotate(0deg); }
} */

/* @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); box-shadow: 0 0px 20px 10px rgb(255, 64, 64);}
    10% { transform: translate(-1px, -2px) rotate(-1deg); box-shadow: 0 0px 20px 10px rgb(110, 2, 2);}
    20% { transform: translate(-3px, 0px) rotate(1deg); box-shadow: 0 0px 20px 10px rgb(255, 64, 64)}
    30% { transform: translate(3px, 2px) rotate(0deg); box-shadow: 0 0px 20px 10px rgb(110, 2, 2);}
    40% { transform: translate(1px, -1px) rotate(1deg); box-shadow: 0 0px 20px 10px rgb(255, 64, 64)}
    50% { transform: translate(-1px, 2px) rotate(-1deg); box-shadow: 0 0px 20px 10px rgb(110, 2, 2);}
    60% { transform: translate(-3px, 1px) rotate(0deg); box-shadow: 0 0px 20px 10px rgb(255, 64, 64)}
    70% { transform: translate(3px, 1px) rotate(-1deg); box-shadow: 0 0px 20px 10px rgb(110, 2, 2);}
    80% { transform: translate(-1px, -1px) rotate(1deg); box-shadow: 0 0px 20px 10px rgb(255, 64, 64)}
    90% { transform: translate(1px, 2px) rotate(0deg); box-shadow: 0 0px 20px 10px rgb(110, 2, 2);}
    100% { transform: translate(1px, -2px) rotate(-1deg); box-shadow: 0 0px 20px 10px rgb(255, 64, 64)}
} */

/*@keyframes start-game {
    0% {
        transform: scale(0);
    }
    60% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
  }*/