:root {

}

.game-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-template-areas: 
        ". display display display ."
        "player1 game-table game-table game-table player2"
        ". . draw . playFullGame";
    margin: auto;
    height: 700px;
    width: 1700px;
    row-gap: 5%;
    column-gap: 3%;
}

.game-table {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:         
        ". p1Card . p2Card ."
        "p1Deck . cardPot . p2Deck";
    row-gap: 20px;
    column-gap: 20px;
    grid-area: game-table;
    background-color: rgb(130, 189, 134);
    padding: 20px;
}

.display {
    grid-area: display;
    border: 1px solid;
}

.player1 {
    grid-area: player1;
}

.player2 {
    grid-area: player2;
}

.p1Card {
    grid-area: p1Card;
    border: 1px solid;
}

.p2Card {
    grid-area: p2Card;
    border: 1px solid;
}

.p1Deck {
    grid-area: p1Deck;
    border: 1px solid;
}

.p2Deck {
    grid-area: p2Deck;
    border: 1px solid;
}

.cardPot {
    grid-area: cardPot;
    border: 1px solid;
}

.draw {
    grid-area: draw;
}

.playFullGame {
    grid-area: playFullGame;
}

.player1, .player2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.card-container {
    position: relative;
}

.card {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    --x-distance: 0;
    --y-distance: 0;
    
}

.card-inner {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 6%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    transform: rotateX(180deg);
}

img {
    width: 100%;
    height: 100%;
}

.face-up .card-inner {
    transform: rotateX(180deg);
}

.move {
    /*transform: translate(var(--end-x) - var(--start-x), var(--end-y) - var(--start-y));*/
    transform: translate(var(--x-distance), var(--y-distance));
    x: 0;
    y: 0;
}

